[Unit]
Description=CPU Cluster Manager restricted master control socket

[Socket]
ListenStream=/run/cpu-cluster-manager/master-control.sock
SocketMode=0600
DirectoryMode=0755
Accept=yes
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
